.breadcrumb {
  background: var(--clr-bg-gray);
  .container {
    /* position: relative; */
    padding-top: 6rem;
    
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;

    .fa-house {
      padding-right: 0.5rem;
      color: var(--clr-gray-600);
    }
    .fa-chevron-right {
      font-size: 0.8rem;
      color: var(--clr-gray-600);
    }
    span {
      padding-left: 1rem;
    }

    .link {
      color: white;
      color: var(--clr-gray-600);
    }

  .first-item {
    display: flex;
  }

  ul {
    list-style: none;
  }
  





}
}