.subscribe {
    padding-block: 3rem;
    width: 100%;
    .container {
        background-color: var(--clr-gray-100);
        border-radius: .5rem;
        display: grid;
        text-align: center;

        padding-block: 3rem;
        gap: 1rem;
        padding-inline: 3rem;
        padding-block: 2rem;
    p {
        display: inline;
    }
    span {
        color: var(--clr-gray-900);
        font-size: 1.35rem;
        font-weight: var(--font-weight-extrabold);
    }


    .content {
        display: flex;
        align-items: center;
        gap: 1rem;

       p{
            display: none;
        }
    }
}
}