.logos {
  img {
    width: 100%;
  }
 
  .container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-inline: 0.2rem;
    padding-block: 3rem;

  }
  .img-container {
    width: 9.875rem;
    height: 6.19rem;
    &:last-child{
      display: none;
    }
    &:nth-last-child(2){
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 1rem;
    border: 1px solid var(--clr-gray-300);
    border-radius: 0.5rem;
    color: var(--clr-gray-500);

    &:hover {
      box-shadow: 1px 3px 3px 1px var(--clr-gray-500);
    }
  }

  @media (min-width: 1400px){

      .img-container {
        width: 12.25rem;
        height: 6.25rem;
          &:last-child {
              display: inline-block;
          }
          &:nth-last-child(2) {
              display: inline-block;
          }
      }
  }
  }



