.appfeatures {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-inline: 0.7rem;
        padding-block: 3rem;
    }
    .phone-container {
        grid-area: phone;
        display: none;
    }
    .headline {
        font-size: 1.75rem;
        grid-area: headline;
        font-weight: var(--font-weight-extrabold);
        line-height: 36px;
        padding-top: 1.3rem;
    }
    .features-text {
        grid-area: text;
        text-align: center;
        font-size: 1.125rem;
        font-weight: var(--font-weight-regular);
        color: var(--clr-gray-700);
    }

    .cards {
        grid-area: cards;
        display: grid;
        grid-template-columns: auto;
        gap: 2.5rem;
        padding-block: 1rem;
    }
    @media (min-width: 768px) {
      .cards {
          grid-template-columns: auto auto;
      }
  }


    @media (min-width: 1400px) {
        .container {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: auto auto 1fr;
            gap: 0rem;
            grid-template-areas: "phone headline" "phone text" "phone cards";
            .phone-container img {
                width: 75%;
            }
            .phone-container {
                display: inline-block;
                grid-area: phone;
                padding-right: 4rem;
            }
            .headline {
                font-size: 2.5rem;
                padding-block: 0.5rem 1.5rem;
            }
            .features-text {
                font-size: 1.125rem;
                text-align: left;
                padding-block: 0rem 0rem;
            }
            .cards {
                display: grid;
                grid-template-columns: auto auto;
                gap: 3.5rem 5rem;
                padding-right: 0.5rem;
            }
        }
    }

  }