@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
    color-scheme: light;
}
:root {
    --clr-primary: #6366f1;
    --clr-primary-gradient: rgba(99, 101, 241, 0.08);
    --clr-bg: #ffffff;
    --clr-bg-gray: #f3f6ff;
    --clr-gray-100: #f3f6ff;
    --clr-gray-200: #eff2fc;
    --clr-gray-300: #e2e5f1;
    --clr-gray-400: #d4d7e5;
    --clr-gray-500: #b4b7c9;
    --clr-gray-600: #9397ad;
    --clr-gray-700: #565973;
    --clr-gray-700s: #565973;
    --clr-gray-800: #33354d;
    --clr-gray-900: #0b0f19;

    --clr-bg-dropdown: var(--clr-gray-500);

    --bg-temp-light: rgb(212, 175, 175);

    --clr-black: black;
    --clr-white: white;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
}

/* Färger om darkmode är aktiverat */
.darkmode {
    color-scheme: dark;
    --clr-bg: black;
    --clr-bg-gray: rgba(19,19,19);
    --clr-primary-gradient: rgba(99, 101, 241, 0.10);
    /* --clr-gray-100: #f3f6ff05; */
    --clr-gray-900: var(--clr-gray-100);
    --clr-gray-800: #ffffff;
    --clr-gray-700: #ffffff;
    --clr-gray-400: #d4d7e5;

    --clr-black: white;
    --clr-white: black;

    --bg-temp-light: rgb(65, 37, 37);

    #logo-default,
    .lightmode-img {
        display: none;
    }
    #logo-darkmode,
    .darkmode-img {
        display: flex;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    background-color: var(--clr-bg);
    color: var(--clr-black);
}
.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
main {

}


.ErrorMSG{
    background-color: rgba(218, 55, 55, 0.685);
    color: rgb(201, 182, 182);
    font-style: italic;
    padding-inline: 1rem;
    padding-block: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    width: 100%;
    justify-content: center;
    margin-inline: auto;
    display: flex;
    align-content: center;
    /* position: absolute;
    top: 50%;
    left: 2rem; */
}

header {
    background: rgb(99, 102, 241);
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}
a {
    color: var(--clr-gray-800);
    font-size: 1rem;
    text-decoration: none;
    font-weight: var(--font-weight-semibold);

    &:hover {
        color: var(--clr-primary);
    }
}
img {
    display: flex;
}
.container {
    width: 390px;
    margin-inline: auto;
    padding: 0.8rem;
}


#logo-default,
.lightmode-img {
    display: flex;
}
#logo-darkmode,
.darkmode-img {
    display: none;
}
.logos {
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 705px;
    }

    .navbar {
        .darkmode-switch .label {
            display: block;
        }
    }

    .footer {
        .container {
            span {
                display: inline;
            }
        }
    }
    .logos {
        display: block;
    }

}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
